
<div class="container mt-5">

<div class="row flex-grow-1">
  <div class="col my-2 pd-4 mx-auto text-align-center">
    <h1>Where to next? Find your <b>dream location</b>...</h1>
  </div>
</div>



  <div class="row ">

    <% @bnb.each do |bnb| %>
        <div class="col-3 my-2 mx-auto text-align-center">
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= bnb.name %></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue eu consequat ac felis donec. Varius quam quisque id diam vel quam elementum. Sagittis eu volutpat odio facilisis mauris sit amet. Habitant morbi tristique senectus et netus. Velit ut tortor pretium viverra. </p>
              <a href="/listings/bnb/<%= bnb.id %>" class="btn btn-dark">Stay here!</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
