<div class="hero-image">
  <div class="row">
    <div class="col-auto mx-auto">
        <h1 class="hero-title">MakersBnB</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-auto mx-auto my-2 text-center">
        <p class="display-5 ">Stay with us!</p>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-12 col-lg-10 mx-auto">
        <form action="/search" method="GET" class="d-flex input-group">
          <input name="location" class="form-control p-3 md-p-0" type="text" placeholder="Where do you want to go..." aria-label="Search" style="font-size: 25px">
          <input name="start_date" type="text" placeholder="Start date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control p-3 md-p-0" type="date" aria-label="Search" style="font-size: 25px">
          <input name="end_date" type="text" placeholder="End date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control p-3 md-p-0" type="date" aria-label="Search" style="font-size: 25px">
          <button class="btn btn-dark p-4 hero-button" type="submit"><i class="fas fa-search" style="font-size: 25px"></i></button>
        </form>
         <div class="col-12 mx-auto d-flex justify-content-center mt-3">
          <a class="btn btn-dark m-2 hero-button" aria-current="page" href="/listings/all" style="font-size: 30px">Get inspired</a>
        </div>
      </div>
    </div>
  </div>
</div>
