<div class="hero-image">
  <div class="row">
    <div class="col-auto mx-auto">
        <h1 class="hero-title">MakersBNB</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-auto mx-auto my-2 text-center">
        <p class="display-5 ">Stay with us!</p>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-12 col-lg-6 mx-auto">
        <form action="/search" method="GET" class="d-flex input-group">
          <input name="location" class="form-control p-3 md-p-0" type="text" placeholder="location" aria-label="Search" style="font-size: 30px">
          <input name="start_date" class="form-control p-3 md-p-0" type="date" aria-label="Search" style="font-size: 30px">
          <input name="end_date" class="form-control p-3 md-p-0" type="date" aria-label="Search" style="font-size: 30px">
          <button class="btn btn-dark p-4 hero-button" type="submit"><i class="fas fa-search" style="font-size: 25px"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
