<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fas fa-moon" style="font-size: 25px"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <% if @user %>
         <div class="text-light px-2">Welcome <%= @user.first_name %></div>
        <form action="/log_out" method="post">
	        <input type="submit" value="Log out" class="btn btn-light mx-2">
        </form>
        <% else %>
        <form action="/user">
	        <input type="submit" value="Sign Up" class="btn btn-light mx-2">
        </form>
        <form action="/user/login">
          <input type="submit" value="Login" class="btn btn-light mx-2">
        </form>
        <% end %>
      </div>
    </div>
  </nav>
