<% flash[:notice] %>

<form action="/user" method="post">
<input type="text" name="email" placeholder="email">
<input type="text" name="first_name" placeholder="first_name">
<input type="text" name="last_name" placeholder="last_name">
<input type="password" name="password">
<input type="password" name="password_confirmation">
<input type="checkbox" name="host" value="true">
<input type="submit" value="Submit">
</form>
