<h2>
   <%= flash[:notice] %>
 </h2>

<div class="container"> 
  <div class="row">
    <div class="col-6 mx-auto text-align-center border border-2 border-dark p-5 m-5" >
    <form action="/user" method="post">
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" id="FirstName" required>
    </div>
    <div class="mb-3">
        <label for="Surname" class="form-label">Surname</label>
        <input type="text" name="last_name" class="form-control" id="Surname" required>
    </div>
  <div class="mb-3">
    <label for="InputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="InputEmail" required>
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="InputPassword" required>
  </div>
  <div class="mb-3">
    <label for="PasswordConfirmation" class="form-label">Password Confirmation</label>
    <input type="password" name="password_confirmation" class="form-control" id="PasswordConfirmation" required>
  </div>

  <div class="mb-3 form-check">
    <input type="radio" class="form-check-input" id="Check" value="true" name="host" required>
    <label class="d-flex ps-1 justify-content-start form-check-label" for="Check">Host</label>
  </div>
  <div class="mb-3 form-check">
    <input type="radio" class="form-check-input" id="Check" value="false" name="host">
    <label class="d-flex ps-1  justify-content-start form-check-label" for="Check">Guest</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>
</div>
