<% flash[:notice] %>

<div class="container"> 
  <div class="row">
    <div class="col-6 mx-auto text-align-center border border-2 border-dark p-5 m-5" >
    <form action="/user/login" method="post">
  <div class="mb-3">
    <label for="InputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="InputEmail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="InputPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>
</div>
